[submodule "Frontend"]
	path = Frontend
	url = git@github.com:h-akira/ShogiProject2_Frontend.git
[submodule "Backend/analysis"]
	path = Backend/analysis
	url = git@github.com:h-akira/ShogiProject2_Backend_analysis.git
[submodule "Backend/main"]
	path = Backend/main
	url = git@github.com:h-akira/ShogiProject2_Backend_main.git
[submodule "Infra"]
	path = Infra
	url = git@github.com:h-akira/ShogiProject2_Infra.git
[submodule "CICD"]
	path = CICD
	url = git@github.com:h-akira/ShogiProject2_CICD.git
